<!--The content below is only a placeholder and can be replaced.-->
<div id="container">

<div style="text-align:center">
   <img width="1200" src="http://www.the-ninth-age.com/wcf/images/styleLogo-a344029a0f10c01cedf06088bdcb60454a326cac.jpg">
  <h1 style="margin-bottom: 25px;">
    Welcome to {{title}}! 
  </h1>
 
</div>


<div id="two_points_in_center">
  <div id="points_label" >
  <h2>Yours points here  </h2>
  </div>
  <div id="points_label">
  <h2>Foe's points here  </h2>  
  </div>
  <div style="clear:both"></div>
</div>


<!-- INPUTY NA PUNKTY -->
<div id="two_points_in_center">
  <div id="points_label" >
  <input [(ngModel)]="first" class="form-control input-lg" id="inputlg" type="number">
  </div>
  <div id="points_label">
  <input [(ngModel)]="second" class="form-control input-lg" id="inputlg" type="number"> 
  </div>
  <div style="clear:both"></div>
</div>


<!-- BUTTON -->
 <div class="wrapper"> <button (click)="countScore()">get score</button></div>


 <!-- WYNIKI -->
<div id="two_points_in_center">
  <div id="score_points_label" >
    {{ left_result }}
  </div>
  <div id="score_points_label">
    {{ right_result }}
  </div>
  <div style="clear:both"></div>
</div>


<div class="wrapper" id="footer_id">
Copyright &copy; 2017 deKraken_Studio - All Rights Reserved
</div>

</div>