#container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#points_label{
    float: left;
    margin: 5px;
    width: 250px;
    
}

#score_id{
    text-align: center;
}
#output_id{
    border-style: solid black;
    border-width: 100px;
    
}

#score_points_label{
    margin: 5px;
    float: left;
    width: 150px;
    height: 100px;
    border-style: solid;
    border-width: 3px;
    border-color:  black;
    border-radius: 15px;
    background-color: white;
    font-size: 450%;
    color: black;
    text-align: center;
    font-weight: bold;
  
}

 #footer_id{
    text-align: center;
    background-color: #007acc;
    width: 1200px;
    position: absolute;
    bottom: 0;
    padding: 10px;
    
} 
 .wrapper {
  display: flex;
  justify-content: center;
} 
#two_points_in_center{
    margin: 0 auto;
    display: block;
}