<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
   <img width="1200" src="http://www.the-ninth-age.com/wcf/images/styleLogo-a344029a0f10c01cedf06088bdcb60454a326cac.jpg">
  <h1>
    Welcome to {{title}}! 
  </h1>
 
</div>
<div>
  <div id="points_label" >
  <h2>Yours points here  </h2>
  </div>
  <div id="points_label">
  <h2>Foe's points here  </h2>  
  </div>
  <div style="clear:both"></div>
</div>
<!-- INPUTY NA PUNKTY -->
<div>
  <div id="points_label" >
  <input [(ngModel)]="first" class="form-control input-lg" id="inputlg" type="number">
  </div>
  <div id="points_label">
  <input [(ngModel)]="second" class="form-control input-lg" id="inputlg" type="number"> 
  </div>
  <div style="clear:both"></div>
</div>
<h1 id="score_id">Score</h1>
<!-- BUTTON -->
 <div id="wrapper"> <button (click)="countScore()">get score</button></div>
<!-- WYNIKI -->
<div>
  <div id="score_points_label" >
    {{ left_result }}
  <!-- <output id="output_id"></output> -->
  </div>
  <div id="score_points_label">
    <label>{{ right_result }}</label>
  <!-- <output id="output_id"></output>  -->
  </div>
  <div style="clear:both"></div>
</div>

<div id="footer_id">
Copyright &copy; 2017 deKraken_Studio - All Rights Reserved
</div>
